######
# Directories
######
.idea
**/autom4te.cache/
deps/build/
lib/.deps/
lib/.libs/

######
# Files
######
.idea/**
**/*.swp
**/Makefile
**/Makefile.in
**/aclocal.m4
**/build
**/compile
**/config.guess
**/config.sub
**/install-sh
**/ltmain.sh
**/missing
COPYING
INSTALL
ar-lib
config.h
config.h.in
config.log
config.status
configure~
depcomp
lib/*.la
lib/*.lo
lib/*.o
libtool
stamp-h1
tags
test-driver
scripts/**.log
**/.o
bindings/java/quad_keys/.gradle/
bindings/java/quad_keys/gradle/
bindings/java/quad_keys/gradlew
bindings/java/quad_keys/gradlew.bat
